<div class="section clearfix">
  {{slides-show}}
</div>
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {{product-features tables=view.tables }}
            </div>
        </div>
    </div>
</div>

<div class="section gray-bg clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{who-we-are}}
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{copy-right}}
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-2">
                            {{company-links class='navbar-nav'}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>
