<div class="section clearfix">
  {{slides-show}}
</div>
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {{product-features tables=view.tables }}
            </div>
        </div>
    </div>
</div>

<div class="section gray-bg clearfix">
  {{testimonial-show}}
</div>

<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{who-we-are}}
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-content">
                        <h2>HedgeServ</h2>
                        <p>Veritatis officiis ullam libero quam aliquam, tenetur dolor incidunt praesentium dolorum
                            laborum tempora suscipit quo sapiente.</p>
                        {{social-links class='social-links colored circle'}}
                        <a href="page-about.html" class="link"><span>Read More</span></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                    <div class="footer-content">
                        <h2>Links</h2>
                        <nav>
                          {{company-links class='nav-pills nav-stacked'}}
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-content">
                      <h2>Subscribe</h2>
                      {{subscribe-form class='margin-bottom-clear'}}
                      <div class="box small"><i class="fa fa-cc-paypal"></i></div>
                      <div class="box small"><i class="fa fa-cc-visa"></i></div>
                      <div class="box small"><i class="fa fa-cc-mastercard"></i></div>
                      <div class="box small"><i class="fa fa-cc-discover"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{copy-right}}
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-2">
                            {{company-links class='navbar-nav'}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>
